<div class="container indigo lighten-4">
    <a href='{{prefix}}{{id}}' class="group-link">
        <div class="row">
            <div class="col s5">{{title}}</div>
            <div class="col s2 right">{{difficulty}}</div>
            <div class="col s3 right">{{currentPlayers}} / {{maxPlayers}} People</div>
            <div class="col s2 right">{{gameName}}</div>
        </div>
        <div class="row distance">
            {{User.name}} posted {{formatTime createdAt}}.
        </div>
    </a>
</div>