<div class="container indigo darken-3 white-text">
    <div class="row">
        <div class="col s6">Content</div>
        <div class="col s2 right">Difficulty</div>
        <div class="col s2 right">Current / Max Players</div>
        <div class="col s2 right">Game Name</div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s5">{{project.content}}</div>
        <div class="col s2 right">{{project.dificulty}}</div>
        <div class="col s2 right">{{project.currentPlayers}} / {{project.maxPlayers}} People</div>
        <div class="col s2 right">{{project.gameName}}</div>
    </div>
    <div class="row contact-info">
        <p class="times">Game time from {{project.timeFrom}} to {{project.timeTo}}</p>
        <p>Available at: {{project.gamerTag}} or {{project.User.email}}</p>
    </div>
</div>

<div class="container">
    {{#each project.Comments as |comment|}}
        {{> comment}}
    {{/each}}
</div>

<div class="container">
  <form class="form new-comment-form">
    <p>Comment</p>
    <textarea type="text" id="comment-text" row="4" cols="50"></textarea>
    <br>
    <button class="btn btn-primary">Submit</button>
  </form>
  
</div>

<script src="../js/addComment.js"></script>