<div class="container indigo darken-3 white-text">
    <div class="row">
        <div class="col s6">Content</div>
        <div class="col s2 right">Difficulty</div>
        <div class="col s2 right">Current / Max Players</div>
        <div class="col s2 right">Game Name</div>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col s5">{{project.content}}</div>
      <div class="col s2 right">{{project.dificulty}}</div>
      <div class="col s2 right">{{project.currentPlayers}} / {{project.maxPlayers}} People</div>
      <div class="col s2 right">{{project.gameName}}</div>
  </div>
  <div class="row contact-info">
      <p class="times">Game time from {{project.timeFrom}} to {{project.timeTo}}</p>
      <p>Available at: {{project.gamerTag}} or {{project.User.email}}</p>
  </div>
  
  {{> groupForm buttonText='Edit'}}

  <div class="row">
    <div class="col m2">
      <button class="btn btn-sm btn-danger" id="edit-btn" data-id="{{post.id}}">EDIT</button>
    </div>
    <div class="col m2">
      <button class="btn btn-sm btn-danger" id="delete-btn" data-id="{{post.id}}">DELETE</button>
    </div>
  </div>
</div>
<script src="../js/editGroup.js"></script>
<script src="../js/deleteGroup.js"></script>