<div class="text-center">
  <h2>{{title}}</h2>
  <p class="post-content">{{contents}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}, <span class="updated">last updated {{format_date updatedAt}}</span></p>
  <div class="row">
    <div class="col m2">
      <button class="btn btn-sm btn-danger" id="edit-btn" data-id="{{post.id}}">EDIT</button>
    </div>
    <div class="col m2">
      <button class="btn btn-sm btn-danger" id="delete-btn" data-id="{{post.id}}">DELETE</button>
    </div>
  </div>
</div>

<script src="../js/deletePost.js"></script>